*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 100px;
	font-family: "Microsoft YaHei",Arial;
	
}
body{
	width: 100%;
	height: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.wrap{
	width: 100%;
	height: 100%;
	background: #216ccc;
	position: absolute;
	padding-top: 1.12rem;
}
.wrap .logo{
	background: url(../image/logo.png) no-repeat center;
	width: 5.2rem;
	height: 1.11rem;
	margin: 0 auto;
	background-size: 100% 100%;
}
.wrap .box{
	background: url(../image/1.png) no-repeat center;
	background-size: 100% 100%;
	width: 7.42rem;
	height: 7.34rem;
	margin: 0 auto;
}
.wrap .box .banner{
	width: 100%;
	position: relative;
} 
.wrap .box .banner .swiper-container{
	width: 100%;
}
.wrap .box .banner .swiper-container .swiper-slide{
	width: 100%;
	margin-top: 0.7rem;
	text-align: center;
}
.wrap .box .banner .swiper-container .swiper-slide img{
	width: 6.08rem;
	height: 6.08rem;
}
.wrap .swiper-pagination{
	width: 100%;
	bottom: -0.2rem;
}
.wrap .swiper-pagination .swiper-pagination-bullet {
	width: 0.22rem;
	height: 0.22rem;
	margin: 0 0.2rem
}
.wrap .swiper-pagination .swiper-pagination-bullet-active{
	background: #fff;
}
.wrap .section1{
	font-size: 0.44rem;
	text-align: center;
	color: #fff;
	line-height: 0.6rem
}
.wrap .section2{
	font-size: 0.44rem;
	text-align: center;
	color: #fff;
}
.wrap .load{
	text-align: center;
}
.wrap .load .Android{
	width: 3.12rem;
	height: 0.77rem;
	border: 0.01rem solid #fff;
	border-radius: 0.38rem;
	font-size: 0.36rem;
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 0.77rem;
}
.wrap .load .ios{
	width: 3.12rem;
	height: 0.77rem;
	border: 0.01rem solid #fff;
	border-radius: 0.38rem;
	font-size: 0.36rem;
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 0.77rem;
}